# Ignore virtual environment
venv/

# Ignore datasets (too large for GitHub, download separately)
creditcard.csv
cleaned_resampled.csv

# Ignore model binaries (can be regenerated)
results/*.pkl

# Keep plots in GitHub (so README links work)
# plots/*.png   <-- removed from ignore list

# Ignore Python cache
__pycache__/
*.pyc

